body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Align items to the start and end of the container */
    background-color: #555;
    padding: 10px;
}

nav img {}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #777;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
    /* Center the content in the main section */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    color: #000000;
    height: 38vw;
}

.title {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
    background-color: #ffffffd2;
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    left: 12%;
    top: 32%;
}

.logo {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-out;
}

.subtitle {
    font-size: 20px;
    color: rgba(18, 18, 18, 0.655);
}

.get-started-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
    border: 2px solid #2980b9;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.get-started-btn:hover {
    background-color: #2980b9;
    border-color: #3498db;
}

.image-container {
    width: 100px;
    height: 100px;
    transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 1, 0.1deg);
    opacity: 1;
    z-index: 0;
}

.coins-container {
    position: absolute;
    max-width: 1200px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    top: 64px
}


.binance {
    position: absolute;
    top: 10%;
}

.bitpanda {
    position: absolute;
    top: 10%;
    left: 20%;
}

.coinbase {
    position: absolute;
    top: 10%;
    left: 40%;
}

.gemeni {
    position: absolute;
    top: 100%;
}

.kucoin {
    position: absolute;
    top: 100%;
    left: 40%;
}

.kraken {
    position: absolute;
    top: 100%;
    left: 20%;
}

.compound {
    position: absolute;
    top: 55%;
    left: -10%;
}

.graph {
    height: 600px;
    background-color: rgb(128, 128, 128);
}
svg {

    background-color: #ffffffd2;
    border-radius: 10px;
    left: 50%;
    positon: absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}



.title {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
    background-color: #ffffffd2;
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    left: 12%;
    top: 32%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
