<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TokenTrend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>

    <script>
        $(document).ready(function () {
            // Smooth scrolling when clicking on a link with the ID "scrollToAbout"
            $("#scrollToGraph").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();

                    // Store the hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Smooth scrolling when clicking on a link with the ID "scrollToAbout"
            $("#scrollToTable").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();

                    // Store the hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>

    <nav>
        <a href="#"> <!-- Add style to push this link to the left -->
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"
                style="height: 30px; width: 30px;">
        </a>
        <div class="nav-contents">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact</a>
        </div>
    </nav>

    <section class="hero-section" style="background-color:rgb(21, 27, 18)">
        <div class="coins-container">
            <div class="image-container binance">
                <img src="
{{ url_for('static', filename='images/binance-logo.svg') }}
" alt="Image 1">
            </div>
            <div class="image-container bitpanda">
                <img src="{{ url_for('static', filename='images/bitpanda-logo.svg') }}" alt="Image 2">
            </div>
            <div class="image-container coinbase">
                <img src="{{ url_for('static', filename='images/coinbase-logo.svg') }}" alt="Image 1">
            </div>
            <div class="image-container gemeni">
                <img src="{{ url_for('static', filename='images/gemini-logo.svg') }}" alt="Image 2">
            </div>
            <div class="image-container kucoin">
                <img src="{{ url_for('static', filename='images/kucoin-logo.svg') }}" alt="Image 1">
            </div>
            <div class="image-container kraken">
                <img src="{{ url_for('static', filename='images/kraken-logo.svg') }}" alt="Image 1">
            </div>
            <div class="image-container compound">
                <img src="{{ url_for('static', filename='images/compound-logo.svg') }}" alt="Image 1">
            </div>
        </div>
        <div class="title">
            <h1>Welcome to TokenTrend</h1>
            <p class="subtitle">The one-stop-shop for all your cryptocurrency tracking needs.</p>
            <a href="#graph" id="scrollToGraph" class="get-started-btn">Get Started</a>
        </div>
        <div class="logo">

            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
    </section>
    <script>
        window.addEventListener('scroll', () => {
            const scrollPosition = window.scrollY;
            const rotationAngle = scrollPosition / 5; // You can adjust the rotation speed here

            document.querySelectorAll('.image-container').forEach(container => {
                container.style.transform = `rotate(${rotationAngle}deg)`;
            });
        });
    </script>

    <script>
        const logo = document.querySelector('.logo');

        document.addEventListener('mousemove', (e) => {
            const mouseX = e.clientX / window.innerWidth - 0.5;
            const mouseY = e.clientY / window.innerHeight - 0.5;

            logo.style.transform = `translate(-50%, -50%) perspective(1000px) rotateX(${mouseY * 30}deg) rotateY(${mouseX * 30}deg)`;
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var coinsContainer = document.querySelector('.coins-container2');
            var images = coinsContainer.querySelectorAll('.image-container2');

            function handleScroll() {
                var scrollPosition = window.scrollY || window.pageYOffset;

                if (scrollPosition > coinsContainer.offsetTop) {
                    images.forEach(function (image) {
                        image.classList.add('move-center');
                    });
                } else {
                    images.forEach(function (image) {
                        image.classList.remove('move-center');
                    });
                }
            }

            // Attach the scroll event listener
            window.addEventListener('scroll', handleScroll);
        });
    </script>
    <section id="graph" class="graph">

        <h1 id="graph-title">Track the Top Trending Cryptos Below!</h1>
        <div id="my_dataviz"></div>
        <br>
        <br>
        <a href="#table" id="scrollToTable" class="get-started-btn">View Data</a>
    </section>

    <section id="spacer">
        <br>
        <br>
    </section>

    <section id="table" class="graph">
        <h1 id="table-title">Data</h1>
        <div class="data-table-container">
            <div id="data-table">
            </div>
        </div>
    </section>




    <script src="{{ url_for('static', filename='js/dd3.js') }}"></script>



    <!-- Graph one is in here -->

    <footer>
        <p>&copy; 2024 TokenTrend. All rights reserved.</p>
    </footer>

</body>

</html>